<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Developer Logs</title>
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ffa751416c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {{>header}}
    <div id="bugs" class="bug-flex-container"><i class="fa fa-bug">  Bugs</i></div>
    <script type="module" src="js/developer-log/developer-log.js"></script>
  </body>
</html>
