header {
  font-size: 125%;
  text-align: right;
}

a {
  text-decoration: none;
  padding: 5px;
  margin-left: 2px;
}

h1 {
  margin-left: 2px;
}

ul {
  list-style: none;
  padding: 10px;
}

li {
  padding: 5px;
}

div {
  margin: 5px;
}

.bug-flex-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.about-flex-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.box {
  margin: 5px;
}

#about-twanel {
  padding-bottom: 10px;
}
