<div class="developer-links-flex-container">
  <div>
    <a class="developer-links-container" href="#current-features">Current Features</a>
  </div>

  <div>
    <a class="developer-links-container" href="#coming-soon">Coming Soon</a>
  </div>

  <div>
    <a class="developer-links-container" href="#bug-log">Bug Log</a>
  </div>
</div>


<div class="log-flex-container">
  <div>
    <h1 class="log-header" id="current-features">Current Features</h1>

    <div class="features-flex-container">
      <div id="factions">
        Fully implemented factions
        <ul class="features-list">
          <li>The Barony of Letnev</li>
          <li>The Embers of Muaat</li>
          <li>The Federation of Sol</li>
        </ul>
      </div>

      <div id="cards">
        <ul class="features-list">
          <li>23 unique action cards</li>
          <li>17 agendas</li>
          <li>35 objectives</li>
          <li>3 promissory notes</li>
        </ul>
      </div>

      <div id="automated-parts">
        Completely Automated
        <ul class="features-list">
          <li>Player notifications</li>
          <li>Setup</li>
          <li>Rules</li>
          <li>Player information</li>
          <li>Objective scoring</li>
          <li>Unit movement</li>
          <li>Distribution of cards</li>
          <li>Trading interface</li>
          <li>And much more</li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <h1 class="log-header" id="coming-soon">Coming Soon</h1>
    <ul class="features-list" id="coming-soon-list">
      <li>In game chat</li>
      <li>More playable factions</li>
      <li>Strategy guides</li>
      <li>Learn to play reference</li>
    </ul>
  </div>

  <div id="bug-log-body">
    <h1 class="log-header" id="bug-log">Bug Log</h1>
    <ul class="features-list" id="bug-log-list">
    </ul>
  </div>
</div>
