<header class="header">
    <div class="logo">
      <img src="../img/misc/logo.png" alt="Logo" class="logo">
    </div>

    <div class="menu-container">
      <i class="fas fa-bars" id="menu-bars-image"></i>

      <div class="menu-content">
        <div class="link-flex-container">
          <a class="menu-link" href="/">Home</a>
          <a class="menu-link" href="/developer-log">Developer Log</a>
          <a class="menu-link" href="/about">Learn</a>
        </div>
      </div>
    </div>

    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">{{title}}</span>
        <span class="heading-primary-sub">{{subtitle}}</span>
      </h1>

      <a href="https://twanel.herokuapp.com" target="_blank" class="btn btn-white">Play Twilight Imperium</a>
    </div>
</header>
