<div class="about-flex-container">
  <div class="external-references-container">
    External Sources
    <ul class="features-list">
      <li><a class="external-sources-link" href="https://images-cdn.fantasyflightgames.com/filer_public/e3/ae/e3ae7182-66db-4d58-ad20-83a6b87dec25/ti4_living_rules_reference_v1_3_web.pdf" target="_blank">Living Rules Reference</a></li>
      <li><a class="external-sources-link" href="https://boardgamegeek.com/forum/2297114/twilight-imperium-fourth-edition/general" target="_blank">BGG Forum</a></li>
      <li><a class="external-sources-link" href="https://www.reddit.com/r/twilightimperium/" target="_blank">TI4 Subreddit</a></li>
      <li><a class="external-sources-link" href="https://twilight-imperium-4.fandom.com/wiki/Twilight_Imperium_4_Wiki" target="_blank">Wiki</a></li>
    </ul>
  </div>

</div>

<div class="faq">
  <h3 style="text-align: center; padding: 1rem;">FAQ</h3>
  <ul id="faqs-list">
  </ul>
</div>
